@mixin button($bg-color:white,$color:black,$padding:0.5rem 2rem,$border:1px solid black,$b-radius:50px,$transition:0.25s ease){
    background-color: $bg-color;
    color: $color;
    padding: $padding;
    border: $border;
    border-radius: $b-radius;
    transition: $transition;
}

@mixin button-1($bg-color:rgb(82, 229, 255),$color:white,$padding:0.5rem 2rem,$border:1px solid white,$b-radius:50px,$transition:0.25s ease){
    background-color: $bg-color;
    color: $color;
    padding: $padding;
    border: $border;
    border-radius: $b-radius;
    transition: $transition;
}

@mixin button-2($bg-color:white,$color:black,$padding:0.5rem 2rem,$border:1px solid black,$b-radius:0px,$transition:0.25s ease){
    background-color: $bg-color;
    color: $color;
    padding: $padding;
    border: $border;
    border-radius: $b-radius;
    transition: $transition;
}